---
import AppLayout from "../layouts/AppLayout.astro";

---

<AppLayout title="Products">
	<h3 class="text-xl font-medium my-4 text-center">Productos almacenados</h3>
  <section id="products-list" class="container bg-white border rounded-xl p-4 mx-auto text-center">
    <table class="w-full">
      <tr>
        <th class="bg-slate-50 border p-2">Nombre</th>
        <th class="bg-slate-50 border p-2">Descripcion</th>
        <th class="bg-slate-50 border p-2">Precio</th>
        <th class="bg-slate-50 border p-2">Stock</th>
      </tr>
      <tbody id="table-products"></tbody>
    </table>
  </section>
</AppLayout>

<script>
  const table = document.getElementById('table-products')
  const productos = JSON.parse(localStorage.getItem('productos'));
  console.log(productos);

  table.innerHTML = ''
  productos.forEach(product => {
    table.innerHTML += `
      <tr>
        <td class="border bg-white p-2">${product.nombre}</td>
        <td class="border bg-white p-2">${product.descripcion}</td>
        <td class="border bg-white p-2">${product.precio}</td>
        <td class="border bg-white p-2">${product.stock}</td>
      </tr>
    `
  });
</script>